In [1]:
from ms3 import Parse
from ms3.utils import transform, roman_numeral2tpc, fifths2pc, fifths2name, name2tpc
import pandas as pd
pd.options.display.max_columns = 50

# Load expanded ABC labels

In [2]:
dir = '/home/hentsche/ABC/harmonies'
p = Parse(dir, key='abc', file_re='tsv$', index='fname')
p.parse_tsv()
p

70 files.
KEY -> EXTENSIONS
-----------------
abc -> {'.tsv': 70}

All 70 tabular files have been parsed, 70 of them as Annotations object(s).
KEY -> ANNOTATION LAYERS
------------------------
abc -> staff  voice  label_type
    -> 1      1      0 (dcml)        117
    ->               3 (dcml)      27908
    ->        2      3 (dcml)          2

In [3]:
labels = p.get_labels().sort_index().iloc[:,:-3]
labels

                   mc   mn mc_onset mn_onset timesig  staff  voice  label  \
fname
n01op18-1_01 0      1    1        0        0     3/4      1      1   .F.I
             1      2    2        0        0     3/4      1      1      V
             2      3    3        0        0     3/4      1      1      I
             3      4    4        0        0     3/4      1      1    IV6
             4      6    6        0        0     3/4      1      1    V65
...               ...  ...      ...      ...     ...    ...    ...    ...
n16op135_04  557  281  281      1/2      1/2     4/4      1      1      I
             558  281  281      3/4      3/4     4/4      1      1     I6
             559  282  282        0        0     4/4      1      1  V(64)
             560  282  282      1/2      1/2     4/4      1      1     V7
             561  283  283        0        0     4/4      1      1    I\\

                 globalkey localkey pedal  chord special numeral form figbass  \
fname
n01op18-1_01 0           F        I   NaN      I     NaN       I  NaN     NaN
             1           F        I   NaN      V     NaN       V  NaN     NaN
             2           F        I   NaN      I     NaN       I  NaN     NaN
             3           F        I   NaN    IV6     NaN      IV  NaN       6
             4           F        I   NaN    V65     NaN       V  NaN      65
...                    ...      ...   ...    ...     ...     ...  ...     ...
n16op135_04  557         f        I   NaN      I     NaN       I  NaN     NaN
             558         f        I   NaN     I6     NaN       I  NaN       6
             559         f        I   NaN  V(64)     NaN       V  NaN     NaN
             560         f        I   NaN     V7     NaN       V  NaN       7
             561         f        I   NaN      I     NaN       I  NaN     NaN

                 changes relativeroot phraseend chord_type  \
fname
n01op18-1_01 0       NaN          NaN       NaN          M
             1       NaN          NaN       NaN          M
             2       NaN          NaN       NaN          M
             3       NaN          NaN       NaN          M
             4       NaN          NaN       NaN        Mm7
...                  ...          ...       ...        ...
n16op135_04  557     NaN          NaN       NaN          M
             558     NaN          NaN       NaN          M
             559      64          NaN       NaN          M
             560     NaN          NaN       NaN        Mm7
             561     NaN          NaN        \\          M

                  globalkey_is_minor  localkey_is_minor    chord_tones  \
fname
n01op18-1_01 0                 False              False      (0, 4, 1)
             1                 False              False      (1, 5, 2)
             2                 False              False      (0, 4, 1)
             3                 False              False     (3, 0, -1)
             4                 False              False  (5, 2, -1, 1)
...                              ...                ...            ...
n16op135_04  557                True              False      (0, 4, 1)
             558                True              False      (4, 1, 0)
             559                True              False      (1, 0, 4)
             560                True              False  (1, 5, 2, -1)
             561                True              False      (0, 4, 1)

                 added_tones  root  bass_note
fname
n01op18-1_01 0            ()     0          0
             1            ()     1          1
             2            ()     0          0
             3            ()    -1          3
             4            ()     1          5
...                      ...   ...        ...
n16op135_04  557          ()     0          0
             558          ()     0          4
             559          ()     1          1
             560          ()     1          1
             561          ()     0          0

[28027 rows x 26 columns]

# Transform `bass_note` column

## Expressing all bass notes as scale scale degrees of global tonic
Since all scale degrees are expressed as fifths-intervals, this is as easy as adding the local key expressed as fifths

In [4]:
transpose_by = transform(labels, roman_numeral2tpc, ['localkey', 'globalkey_is_minor'])
bass = labels.bass_note + transpose_by
bass.head()

fname
n01op18-1_01  0    0
              1    1
              2    0
              3    3
              4    5
dtype: Int64

## Adding bass note names to DataFrame

In [5]:
transpose_by = transform(labels, name2tpc, ['globalkey'])
labels['bass_name'] = fifths2name(bass + transpose_by).values
labels.head()

                mc  mn mc_onset mn_onset timesig  staff  voice label  \
fname
n01op18-1_01 0   1   1        0        0     3/4      1      1  .F.I
             1   2   2        0        0     3/4      1      1     V
             2   3   3        0        0     3/4      1      1     I
             3   4   4        0        0     3/4      1      1   IV6
             4   6   6        0        0     3/4      1      1   V65

               globalkey localkey pedal chord special numeral form figbass  \
fname
n01op18-1_01 0         F        I   NaN     I     NaN       I  NaN     NaN
             1         F        I   NaN     V     NaN       V  NaN     NaN
             2         F        I   NaN     I     NaN       I  NaN     NaN
             3         F        I   NaN   IV6     NaN      IV  NaN       6
             4         F        I   NaN   V65     NaN       V  NaN      65

               changes relativeroot phraseend chord_type  globalkey_is_minor  \
fname
n01op18-1_01 0     NaN          NaN       NaN          M               False
             1     NaN          NaN       NaN          M               False
             2     NaN          NaN       NaN          M               False
             3     NaN          NaN       NaN          M               False
             4     NaN          NaN       NaN        Mm7               False

                localkey_is_minor    chord_tones added_tones  root  bass_note  \
fname
n01op18-1_01 0              False      (0, 4, 1)          ()     0          0
             1              False      (1, 5, 2)          ()     1          1
             2              False      (0, 4, 1)          ()     0          0
             3              False     (3, 0, -1)          ()    -1          3
             4              False  (5, 2, -1, 1)          ()     1          5

               bass_name
fname
n01op18-1_01 0         F
             1         C
             2         F
             3         D
             4         E

## Calculating intervals between successive bass notes
Sloppy version: Include intervals across movement boundaries

### Bass progressions expressed in fifths

In [6]:
bass = bass.bfill()
ivs = bass - bass.shift()
ivs.value_counts()

 0     4809
-1     3918
-5     2903
-2     2746
 5     2537
 2     2490
 1     2061
 3     1576
-4     1269
 4     1055
-3      983
 7      400
 6      332
-7      233
-6      170
 8      147
 9       95
-8       76
-9       68
 10      52
-10      27
 12      27
-12      18
-11       8
-13       6
-14       5
 13       5
 14       4
 11       3
 16       1
 17       1
 15       1
dtype: Int64

### Bass progressions expressed in (enharmonic) semitones

In [7]:
pc_ivs = fifths2pc(ivs)
pc_ivs.index = ivs.index
pc_ivs = pc_ivs.where(pc_ivs <= 6, pc_ivs % -6).fillna(0)
pc_ivs.value_counts()

 0    4855
 5    3927
 1    3303
-2    2803
-1    2771
 2    2521
-5    2074
-3    1645
-4    1416
 4    1132
 3    1078
 6     502
dtype: int64

# Chromatic bass progressions

In [8]:
def cnt(S, interval, k_min=1, df=True):
    ix_chunks = pd.DataFrame(columns=['ixs', 'n']) if df else []
    current = []
    n = 0
    for i, iv in S.iteritems():
        
        if iv in [0, interval]:
            current.append(i)
            if iv == interval:
                n += 1
        else:
            if n >= k_min:
                if df:
                    ix_chunks = ix_chunks.append(pd.Series((current, n), index=['ixs', 'n']), ignore_index=True)
                else:
                    ix_chunks.append((current, n))
            current = [i]
            n = 0
    return ix_chunks

## Successive descending semitones

In [9]:
desc = cnt(pc_ivs, -1)
desc.n.value_counts()

1    2233
2     114
3      62
4      13
5       9
7       3
6       1
Name: n, dtype: int64

### Storing those with three or more

In [10]:
three_desc = labels.loc[desc[desc.n > 2].ixs.sum()]
three_desc.to_csv('three_desc.tsv', sep='\t')
three_desc.head(30)

                   mc   mn mc_onset mn_onset timesig  staff  voice   label  \
fname
n02op18-2_02 160   84   83        0        0     3/4      1      1   V2/IV
             161   85   84        0        0     3/4      1      1     IV6
             162   85   84      1/4      1/4     3/4      1      1    ii43
             163   85   84      1/2      1/2     3/4      1      1   .Ger6
             164   86   85        0        0     3/4      1      1   V(64)
             165   86   85      1/2      1/2     3/4      1      1      V7
n02op18-2_03 81    47   46        0        0     3/4      1      1       I
             82    48   47        0        0     3/4      1      1     V65
             83    49   48        0        0     3/4      1      1   V2/IV
             84    50   49        0        0     3/4      1      1     IV6
             85    51   50        0        0     3/4      1      1     It6
             86    52   51        0        0     3/4      1      1       V
n02op18-2_04 192  160  160      3/8      3/8     2/4      1      1     V65
             193  161  161      3/8      3/8     2/4      1      1   V2/IV
             194  162  162        0        0     2/4      1      1     IV6
             195  162  162      3/8      3/8     2/4      1      1   .Ger6
             196  163  163        0        0     2/4      1      1     V\\
             197  163  163      1/8      1/8     2/4      1      1      V7
             198  164  164        0        0     2/4      1      1   V(64)
             199  165  165        0        0     2/4      1      1      V7
             200  166  166        0        0     2/4      1      1   V(64)
             201  167  167        0        0     2/4      1      1       V
             202  168  168        0        0     2/4      1      1   V(64)
             203  169  169        0        0     2/4      1      1       V
             204  170  170        0        0     2/4      1      1   V(64)
             205  171  171        0        0     2/4      1      1     V\\
             206  172  172        0        0     2/4      1      1       V
             207  175  175        0        0     2/4      1      1   IV.V7
             208  177  177        0        0     2/4      1      1  V7(+9)
             209  178  178        0        0     2/4      1      1       V

                 globalkey localkey pedal   chord special numeral form  \
fname
n02op18-2_02 160         C        I   NaN   V2/IV     NaN       V  NaN
             161         C        I   NaN     IV6     NaN      IV  NaN
             162         C        I   NaN    ii43     NaN      ii  NaN
             163         C        I   NaN    Ger6     Ger     vii    o
             164         C        I   NaN   V(64)     NaN       V  NaN
             165         C        I   NaN      V7     NaN       V  NaN
n02op18-2_03 81          G       IV   NaN       I     NaN       I  NaN
             82          G       IV   NaN     V65     NaN       V  NaN
             83          G       IV   NaN   V2/IV     NaN       V  NaN
             84          G       IV   NaN     IV6     NaN      IV  NaN
             85          G       IV   NaN     It6      It     vii    o
             86          G       IV   NaN       V     NaN       V  NaN
n02op18-2_04 192         G       iv   NaN     V65     NaN       V  NaN
             193         G       iv   NaN   V2/IV     NaN       V  NaN
             194         G       iv   NaN     IV6     NaN      IV  NaN
             195         G       iv   NaN    Ger6     Ger     vii    o
             196         G       iv   NaN       V     NaN       V  NaN
             197         G       iv   NaN      V7     NaN       V  NaN
             198         G       iv   NaN   V(64)     NaN       V  NaN
             199         G       iv   NaN      V7     NaN       V  NaN
             200         G       iv   NaN   V(64)     NaN       V  NaN
             201         G       iv   NaN       V     NaN       V  NaN
             202         G       iv   NaN   V(64)     NaN       V  NaN
             203         G       iv   NaN       V     NaN       V  NaN
             204         G       iv   NaN   V(64)     NaN       V  NaN
             205         G       iv   NaN       V     NaN       V  NaN
             206         G       iv   NaN       V     NaN       V  NaN
             207         G       IV   NaN      V7     NaN       V  NaN
             208         G       IV   NaN  V7(+9)     NaN       V  NaN
             209         G       IV   NaN       V     NaN       V  NaN

                 figbass changes relativeroot phraseend chord_type  \
fname
n02op18-2_02 160       2     NaN           IV       NaN        Mm7
             161       6     NaN          NaN       NaN          M
             162      43     NaN          NaN       NaN        mm7
             163      65      b3            V       NaN        Ger
             164     NaN      64          NaN       NaN          M
             165       7     NaN          NaN       NaN        Mm7
n02op18-2_03 81      NaN     NaN          NaN       NaN          M
             82       65     NaN          NaN       NaN        Mm7
             83        2     NaN           IV       NaN        Mm7
             84        6     NaN          NaN       NaN          M
             85        6      b3            V       NaN         It
             86      NaN     NaN          NaN       NaN          M
n02op18-2_04 192      65     NaN          NaN       NaN        Mm7
             193       2     NaN           IV       NaN        Mm7
             194       6     NaN          NaN       NaN          M
             195      65      b3            V       NaN        Ger
             196     NaN     NaN          NaN        \\          M
             197       7     NaN          NaN       NaN        Mm7
             198     NaN      64          NaN       NaN          M
             199       7     NaN          NaN       NaN        Mm7
             200     NaN      64          NaN       NaN          M
             201     NaN     NaN          NaN       NaN          M
             202     NaN      64          NaN       NaN          M
             203     NaN     NaN          NaN       NaN          M
             204     NaN      64          NaN       NaN          M
             205     NaN     NaN          NaN        \\          M
             206     NaN     NaN          NaN       NaN          M
             207       7     NaN          NaN       NaN        Mm7
             208       7      +9          NaN       NaN        Mm7
             209     NaN     NaN          NaN       NaN          M

                  globalkey_is_minor  localkey_is_minor     chord_tones  \
fname
n02op18-2_02 160               False              False   (-2, 0, 4, 1)
             161               False              False      (3, 0, -1)
             162               False              False   (3, 0, 2, -1)
             163               False              False  (-4, 0, -3, 6)
             164               False              False       (1, 0, 4)
             165               False              False   (1, 5, 2, -1)
n02op18-2_03 81                False              False       (0, 4, 1)
             82                False              False   (5, 2, -1, 1)
             83                False              False   (-2, 0, 4, 1)
             84                False              False      (3, 0, -1)
             85                False              False      (-4, 0, 6)
             86                False              False       (1, 5, 2)
n02op18-2_04 192               False               True   (5, 2, -1, 1)
             193               False               True   (-2, 0, 4, 1)
             194               False               True      (3, 0, -1)
             195               False               True  (-4, 0, -3, 6)
             196               False               True       (1, 5, 2)
             197               False               True   (1, 5, 2, -1)
             198               False               True      (1, 0, -3)
             199               False               True   (1, 5, 2, -1)
             200               False               True      (1, 0, -3)
             201               False               True       (1, 5, 2)
             202               False               True      (1, 0, -3)
             203               False               True       (1, 5, 2)
             204               False               True      (1, 0, -3)
             205               False               True       (1, 5, 2)
             206               False               True       (1, 5, 2)
             207               False              False   (1, 5, 2, -1)
             208               False              False   (1, 5, 2, -1)
             209               False              False       (1, 5, 2)

                 added_tones  root  bass_note bass_name
fname
n02op18-2_02 160          ()     0         -2        Bb
             161          ()    -1          3         A
             162          ()     2          3         A
             163          ()     6         -4        Ab
             164          ()     1          1         G
             165          ()     1          1         G
n02op18-2_03 81           ()     0          0         C
             82           ()     1          5         B
             83           ()     0         -2        Bb
             84           ()    -1          3         A
             85           ()     6         -4        Ab
             86           ()     1          1         G
n02op18-2_04 192          ()     1          5         B
             193          ()     0         -2        Bb
             194          ()    -1          3         A
             195          ()     6         -4        Ab
             196          ()     1          1         G
             197          ()     1          1         G
             198          ()     1          1         G
             199          ()     1          1         G
             200          ()     1          1         G
             201          ()     1          1         G
             202          ()     1          1         G
             203          ()     1          1         G
             204          ()     1          1         G
             205          ()     1          1         G
             206          ()     1          1         G
             207          ()     1          1         G
             208        (3,)     1          1         G
             209          ()     1          1         G

### Storing those with four or more

In [11]:
four_desc = labels.loc[desc[desc.n > 3].ixs.sum()]
four_desc.to_csv('four_desc.tsv', sep='\t')
four_desc.head(30)

                   mc   mn mc_onset mn_onset timesig  staff  voice    label  \
fname
n02op18-2_03 81    47   46        0        0     3/4      1      1        I
             82    48   47        0        0     3/4      1      1      V65
             83    49   48        0        0     3/4      1      1    V2/IV
             84    50   49        0        0     3/4      1      1      IV6
             85    51   50        0        0     3/4      1      1      It6
             86    52   51        0        0     3/4      1      1        V
n02op18-2_04 192  160  160      3/8      3/8     2/4      1      1      V65
             193  161  161      3/8      3/8     2/4      1      1    V2/IV
             194  162  162        0        0     2/4      1      1      IV6
             195  162  162      3/8      3/8     2/4      1      1    .Ger6
             196  163  163        0        0     2/4      1      1      V\\
             197  163  163      1/8      1/8     2/4      1      1       V7
             198  164  164        0        0     2/4      1      1    V(64)
             199  165  165        0        0     2/4      1      1       V7
             200  166  166        0        0     2/4      1      1    V(64)
             201  167  167        0        0     2/4      1      1        V
             202  168  168        0        0     2/4      1      1    V(64)
             203  169  169        0        0     2/4      1      1        V
             204  170  170        0        0     2/4      1      1    V(64)
             205  171  171        0        0     2/4      1      1      V\\
             206  172  172        0        0     2/4      1      1        V
             207  175  175        0        0     2/4      1      1    IV.V7
             208  177  177        0        0     2/4      1      1   V7(+9)
             209  178  178        0        0     2/4      1      1        V
n03op18-3_04 288  200  200        0        0     6/8      1      1      I64
             289  201  201        0        0     6/8      1      1  I.viio7
             290  203  203        0        0     6/8      1      1   .bVII7
             291  205  205        0        0     6/8      1      1     ii64
             292  207  207        0        0     6/8      1      1  V2/bIII
             293  209  209        0        0     6/8      1      1       V7

                 globalkey localkey pedal    chord special numeral form  \
fname
n02op18-2_03 81          G       IV   NaN        I     NaN       I  NaN
             82          G       IV   NaN      V65     NaN       V  NaN
             83          G       IV   NaN    V2/IV     NaN       V  NaN
             84          G       IV   NaN      IV6     NaN      IV  NaN
             85          G       IV   NaN      It6      It     vii    o
             86          G       IV   NaN        V     NaN       V  NaN
n02op18-2_04 192         G       iv   NaN      V65     NaN       V  NaN
             193         G       iv   NaN    V2/IV     NaN       V  NaN
             194         G       iv   NaN      IV6     NaN      IV  NaN
             195         G       iv   NaN     Ger6     Ger     vii    o
             196         G       iv   NaN        V     NaN       V  NaN
             197         G       iv   NaN       V7     NaN       V  NaN
             198         G       iv   NaN    V(64)     NaN       V  NaN
             199         G       iv   NaN       V7     NaN       V  NaN
             200         G       iv   NaN    V(64)     NaN       V  NaN
             201         G       iv   NaN        V     NaN       V  NaN
             202         G       iv   NaN    V(64)     NaN       V  NaN
             203         G       iv   NaN        V     NaN       V  NaN
             204         G       iv   NaN    V(64)     NaN       V  NaN
             205         G       iv   NaN        V     NaN       V  NaN
             206         G       iv   NaN        V     NaN       V  NaN
             207         G       IV   NaN       V7     NaN       V  NaN
             208         G       IV   NaN   V7(+9)     NaN       V  NaN
             209         G       IV   NaN        V     NaN       V  NaN
n03op18-3_04 288         D       IV   NaN      I64     NaN       I  NaN
             289         D        I   NaN    viio7     NaN     vii    o
             290         D        I   NaN    bVII7     NaN    bVII  NaN
             291         D        I   NaN     ii64     NaN      ii  NaN
             292         D        I   NaN  V2/bIII     NaN       V  NaN
             293         D        I   NaN       V7     NaN       V  NaN

                 figbass changes relativeroot phraseend chord_type  \
fname
n02op18-2_03 81      NaN     NaN          NaN       NaN          M
             82       65     NaN          NaN       NaN        Mm7
             83        2     NaN           IV       NaN        Mm7
             84        6     NaN          NaN       NaN          M
             85        6      b3            V       NaN         It
             86      NaN     NaN          NaN       NaN          M
n02op18-2_04 192      65     NaN          NaN       NaN        Mm7
             193       2     NaN           IV       NaN        Mm7
             194       6     NaN          NaN       NaN          M
             195      65      b3            V       NaN        Ger
             196     NaN     NaN          NaN        \\          M
             197       7     NaN          NaN       NaN        Mm7
             198     NaN      64          NaN       NaN          M
             199       7     NaN          NaN       NaN        Mm7
             200     NaN      64          NaN       NaN          M
             201     NaN     NaN          NaN       NaN          M
             202     NaN      64          NaN       NaN          M
             203     NaN     NaN          NaN       NaN          M
             204     NaN      64          NaN       NaN          M
             205     NaN     NaN          NaN        \\          M
             206     NaN     NaN          NaN       NaN          M
             207       7     NaN          NaN       NaN        Mm7
             208       7      +9          NaN       NaN        Mm7
             209     NaN     NaN          NaN       NaN          M
n03op18-3_04 288      64     NaN          NaN       NaN          M
             289       7     NaN          NaN       NaN         o7
             290       7     NaN          NaN       NaN        Mm7
             291      64     NaN          NaN       NaN          m
             292       2     NaN         bIII       NaN        Mm7
             293       7     NaN          NaN       NaN        Mm7

                  globalkey_is_minor  localkey_is_minor      chord_tones  \
fname
n02op18-2_03 81                False              False        (0, 4, 1)
             82                False              False    (5, 2, -1, 1)
             83                False              False    (-2, 0, 4, 1)
             84                False              False       (3, 0, -1)
             85                False              False       (-4, 0, 6)
             86                False              False        (1, 5, 2)
n02op18-2_04 192               False               True    (5, 2, -1, 1)
             193               False               True    (-2, 0, 4, 1)
             194               False               True       (3, 0, -1)
             195               False               True   (-4, 0, -3, 6)
             196               False               True        (1, 5, 2)
             197               False               True    (1, 5, 2, -1)
             198               False               True       (1, 0, -3)
             199               False               True    (1, 5, 2, -1)
             200               False               True       (1, 0, -3)
             201               False               True        (1, 5, 2)
             202               False               True       (1, 0, -3)
             203               False               True        (1, 5, 2)
             204               False               True       (1, 0, -3)
             205               False               True        (1, 5, 2)
             206               False               True        (1, 5, 2)
             207               False              False    (1, 5, 2, -1)
             208               False              False    (1, 5, 2, -1)
             209               False              False        (1, 5, 2)
n03op18-3_04 288               False              False        (1, 0, 4)
             289               False              False   (5, 2, -1, -4)
             290               False              False  (-2, 2, -1, -4)
             291               False              False       (3, 2, -1)
             292               False              False  (-4, -2, 2, -1)
             293               False              False    (1, 5, 2, -1)

                 added_tones  root  bass_note bass_name
fname
n02op18-2_03 81           ()     0          0         C
             82           ()     1          5         B
             83           ()     0         -2        Bb
             84           ()    -1          3         A
             85           ()     6         -4        Ab
             86           ()     1          1         G
n02op18-2_04 192          ()     1          5         B
             193          ()     0         -2        Bb
             194          ()    -1          3         A
             195          ()     6         -4        Ab
             196          ()     1          1         G
             197          ()     1          1         G
             198          ()     1          1         G
             199          ()     1          1         G
             200          ()     1          1         G
             201          ()     1          1         G
             202          ()     1          1         G
             203          ()     1          1         G
             204          ()     1          1         G
             205          ()     1          1         G
             206          ()     1          1         G
             207          ()     1          1         G
             208        (3,)     1          1         G
             209          ()     1          1         G
n03op18-3_04 288          ()     0          1         D
             289          ()     5          5        C#
             290          ()    -2         -2         C
             291          ()     2          3         B
             292          ()    -2         -4        Bb
             293          ()     1          1         A

## Successive ascending semitones

In [12]:
asc = cnt(pc_ivs, 1)
asc.n.value_counts()

1     2446
2      202
3       98
5       14
4        9
6        3
7        2
13       1
8        1
Name: n, dtype: int64

### Storing those with three or more

In [13]:
three_asc = labels.loc[asc[asc.n > 2].ixs.sum()]
three_asc.to_csv('three_asc.tsv', sep='\t')
three_asc.head(30)

                   mc   mn mc_onset mn_onset timesig  staff  voice  \
fname
n01op18-1_01 167  136  136      1/4      1/4     3/4      1      1
             168  137  137        0        0     3/4      1      1
             169  137  137      1/4      1/4     3/4      1      1
             170  137  137      1/2      1/2     3/4      1      1
             171  138  138        0        0     3/4      1      1
             172  138  138      1/2      1/2     3/4      1      1
             181  143  143        0        0     3/4      1      1
             182  143  143      1/4      1/4     3/4      1      1
             183  143  143      1/2      1/2     3/4      1      1
             184  144  144        0        0     3/4      1      1
n01op18-1_02 48    19   19        0        0     9/8      1      1
             49    19   19      3/8      3/8     9/8      1      1
             50    19   19      3/4      3/4     9/8      1      1
             51    20   20        0        0     9/8      1      1
             52    21   21        0        0     9/8      1      1
             53    21   21      7/8      7/8     9/8      1      1
n01op18-1_04 13     7    7      1/8      1/8     2/4      1      1
             14     7    7      1/4      1/4     2/4      1      1
             15     7    7      3/8      3/8     2/4      1      1
             16     8    8        0        0     2/4      1      1
             17     8    8      1/8      1/8     2/4      1      1
             32    15   15      1/8      1/8     2/4      1      1
             33    15   15      1/4      1/4     2/4      1      1
             34    15   15      3/8      3/8     2/4      1      1
             35    16   16        0        0     2/4      1      1
             168   97   97      1/8      1/8     2/4      1      1
             169   97   97      1/4      1/4     2/4      1      1
             170   97   97      3/8      3/8     2/4      1      1
             171   98   98        0        0     2/4      1      1
             172   98   98      1/8      1/8     2/4      1      1

                       label globalkey localkey pedal       chord special  \
fname
n01op18-1_01 167       @none         F       ii   NaN       @none     NaN
             168      #viio7         F       ii   NaN      #viio7     NaN
             169         VI6         F       ii   NaN         VI6     NaN
             170      V65/ii         F       ii   NaN      V65/ii     NaN
             171     #viio65         F       ii   NaN     #viio65     NaN
             172          i6         F       ii   NaN          i6     NaN
             181      #viio7         F        v   NaN      #viio7     NaN
             182         VI6         F        v   NaN         VI6     NaN
             183    #viio/ii         F        v   NaN    #viio/ii     NaN
             184         V43         F        v   NaN         V43     NaN
n01op18-1_02 48   V7(4)/bVII         d      III   NaN  V7(4)/bVII     NaN
             49      V7/bVII         d      III   NaN     V7/bVII     NaN
             50     #viio7/V         d      III   NaN    #viio7/V     NaN
             51          V\\         d      III   NaN           V     NaN
             52          iv6         d      III   NaN         iv6     NaN
             53        .Ger6         d      III   NaN        Ger6     Ger
n01op18-1_04 13          V65         F        I   NaN         V65     NaN
             14         V.IV         F        V   NaN          IV     NaN
             15        V65/V         F        V   NaN       V65/V     NaN
             16        V(64)         F        V   NaN       V(64)     NaN
             17           V7         F        V   NaN          V7     NaN
             32          V65         F        I   NaN         V65     NaN
             33            I         F        I   NaN           I     NaN
             34    #viio7/ii         F        I   NaN   #viio7/ii     NaN
             35           ii         F        I   NaN          ii     NaN
             168         V65         F        I   NaN         V65     NaN
             169        V.IV         F        V   NaN          IV     NaN
             170       V65/V         F        V   NaN       V65/V     NaN
             171       V(64)         F        V   NaN       V(64)     NaN
             172          V7         F        V   NaN          V7     NaN

                 numeral form figbass changes relativeroot phraseend  \
fname
n01op18-1_01 167   @none  NaN     NaN     NaN          NaN       NaN
             168    #vii    o       7     NaN          NaN       NaN
             169      VI  NaN       6     NaN          NaN       NaN
             170       V  NaN      65     NaN           ii       NaN
             171    #vii    o      65     NaN          NaN       NaN
             172       i  NaN       6     NaN          NaN       NaN
             181    #vii    o       7     NaN          NaN       NaN
             182      VI  NaN       6     NaN          NaN       NaN
             183    #vii    o     NaN     NaN           ii       NaN
             184       V  NaN      43     NaN          NaN       NaN
n01op18-1_02 48        V  NaN       7       4         bVII       NaN
             49        V  NaN       7     NaN         bVII       NaN
             50     #vii    o       7     NaN            V       NaN
             51        V  NaN     NaN     NaN          NaN        \\
             52       iv  NaN       6     NaN          NaN       NaN
             53      vii    o      65      b3            V       NaN
n01op18-1_04 13        V  NaN      65     NaN          NaN       NaN
             14       IV  NaN     NaN     NaN          NaN       NaN
             15        V  NaN      65     NaN            V       NaN
             16        V  NaN     NaN      64          NaN       NaN
             17        V  NaN       7     NaN          NaN       NaN
             32        V  NaN      65     NaN          NaN       NaN
             33        I  NaN     NaN     NaN          NaN       NaN
             34     #vii    o       7     NaN           ii       NaN
             35       ii  NaN     NaN     NaN          NaN       NaN
             168       V  NaN      65     NaN          NaN       NaN
             169      IV  NaN     NaN     NaN          NaN       NaN
             170       V  NaN      65     NaN            V       NaN
             171       V  NaN     NaN      64          NaN       NaN
             172       V  NaN       7     NaN          NaN       NaN

                 chord_type  globalkey_is_minor  localkey_is_minor  \
fname
n01op18-1_01 167          m               False               True
             168         o7               False               True
             169          M               False               True
             170        Mm7               False               True
             171         o7               False               True
             172          m               False               True
             181         o7               False               True
             182          M               False               True
             183          o               False               True
             184        Mm7               False               True
n01op18-1_02 48         Mm7                True              False
             49         Mm7                True              False
             50          o7                True              False
             51           M                True              False
             52           m                True              False
             53         Ger                True              False
n01op18-1_04 13         Mm7               False              False
             14           M               False              False
             15         Mm7               False              False
             16           M               False              False
             17         Mm7               False              False
             32         Mm7               False              False
             33           M               False              False
             34          o7               False              False
             35           m               False              False
             168        Mm7               False              False
             169          M               False              False
             170        Mm7               False              False
             171          M               False              False
             172        Mm7               False              False

                      chord_tones added_tones  root  bass_note bass_name
fname
n01op18-1_01 167               ()          ()  <NA>       <NA>      <NA>
             168   (5, 2, -1, -4)          ()     5          5        F#
             169      (0, -3, -4)          ()    -4          0         G
             170     (7, 4, 1, 3)          ()     3          7        G#
             171   (2, -1, -4, 5)          ()     5          2         A
             172       (-3, 1, 0)          ()     0         -3        Bb
             181   (5, 2, -1, -4)          ()     5          5         B
             182      (0, -3, -4)          ()    -4          0         C
             183        (7, 4, 1)          ()     7          7        C#
             184    (2, -1, 1, 5)          ()     1          2         D
n01op18-1_02 48   (-1, -2, 0, -3)          ()    -1         -1        Bb
             49    (-1, 3, 0, -3)          ()    -1         -1        Bb
             50     (6, 3, 0, -3)          ()     6          6         B
             51         (1, 5, 2)          ()     1          1         C
             52       (-4, 0, -1)          ()    -1         -4        Db
             53    (-4, 0, -3, 6)          ()     6         -4        Db
n01op18-1_04 13     (5, 2, -1, 1)          ()     1          5         E
             14        (-1, 3, 0)          ()    -1         -1         F
             15      (6, 3, 0, 2)          ()     2          6        F#
             16         (1, 0, 4)          ()     1          1         G
             17     (1, 5, 2, -1)          ()     1          1         G
             32     (5, 2, -1, 1)          ()     1          5         E
             33         (0, 4, 1)          ()     0          0         F
             34     (7, 4, 1, -2)          ()     7          7        F#
             35        (2, -1, 3)          ()     2          2         G
             168    (5, 2, -1, 1)          ()     1          5         E
             169       (-1, 3, 0)          ()    -1         -1         F
             170     (6, 3, 0, 2)          ()     2          6        F#
             171        (1, 0, 4)          ()     1          1         G
             172    (1, 5, 2, -1)          ()     1          1         G

### Storing those with four or more

In [14]:
four_asc = labels.loc[asc[asc.n > 3].ixs.sum()]
four_asc.to_csv('four_asc.tsv', sep='\t')
four_asc.head(30)

                   mc   mn mc_onset mn_onset timesig  staff  voice      label  \
fname
n01op18-1_01 167  136  136      1/4      1/4     3/4      1      1      @none
             168  137  137        0        0     3/4      1      1     #viio7
             169  137  137      1/4      1/4     3/4      1      1        VI6
             170  137  137      1/2      1/2     3/4      1      1     V65/ii
             171  138  138        0        0     3/4      1      1    #viio65
             172  138  138      1/2      1/2     3/4      1      1         i6
n02op18-2_03 59    38   37        0        0     3/4      1      1         I6
             60    38   37      3/8      3/8     3/4      1      1        I+6
             61    38   37      1/2      1/2     3/4      1      1         IV
             62    38   37      5/8      5/8     3/4      1      1      V65/V
             63    39   38        0        0     3/4      1      1      V(64)
             64    39   38      1/8      1/8     3/4      1      1  #viio7/vi
             65    39   38      1/4      1/4     3/4      1      1         vi
n03op18-3_01 252  174  174        0        0     2/2      1      1        IV6
             253  175  175        0        0     2/2      1      1  #viio65/V
             254  176  176        0        0     2/2      1      1         v6
             255  177  177        0        0     2/2      1      1        V65
             256  178  178        0        0     2/2      1      1        vi6
             257  179  179        0        0     2/2      1      1  #viio7/ii
             258  180  180        0        0     2/2      1      1     viio65
             338  237  237        0        0     2/2      1      1          I
             339  238  238        0        0     2/2      1      1   .bIII.v6
             340  239  239        0        0     2/2      1      1         V6
             341  240  240        0        0     2/2      1      1          I
             342  241  241        0        0     2/2      1      1     iv.V65
             343  243  243        0        0     2/2      1      1          i
n03op18-3_02 85    31   31      1/4      1/4     2/4      1      1    V65/III
             86    32   32      1/4      1/4     2/4      1      1        III
             87    32   32      3/8      3/8     2/4      1      1     V65/iv
             88    33   33        0        0     2/4      1      1         iv

                 globalkey localkey pedal      chord special numeral form  \
fname
n01op18-1_01 167         F       ii   NaN      @none     NaN   @none  NaN
             168         F       ii   NaN     #viio7     NaN    #vii    o
             169         F       ii   NaN        VI6     NaN      VI  NaN
             170         F       ii   NaN     V65/ii     NaN       V  NaN
             171         F       ii   NaN    #viio65     NaN    #vii    o
             172         F       ii   NaN         i6     NaN       i  NaN
n02op18-2_03 59          G        I   NaN         I6     NaN       I  NaN
             60          G        I   NaN        I+6     NaN       I    +
             61          G        I   NaN         IV     NaN      IV  NaN
             62          G        I   NaN      V65/V     NaN       V  NaN
             63          G        I   NaN      V(64)     NaN       V  NaN
             64          G        I   NaN  #viio7/vi     NaN    #vii    o
             65          G        I   NaN         vi     NaN      vi  NaN
n03op18-3_01 252         D        I   NaN        IV6     NaN      IV  NaN
             253         D        I   NaN  #viio65/V     NaN    #vii    o
             254         D        I   NaN         v6     NaN       v  NaN
             255         D        I   NaN        V65     NaN       V  NaN
             256         D        I   NaN        vi6     NaN      vi  NaN
             257         D        I   NaN  #viio7/ii     NaN    #vii    o
             258         D        I   NaN     viio65     NaN     vii    o
             338         D        I   NaN          I     NaN       I  NaN
             339         D     bIII   NaN         v6     NaN       v  NaN
             340         D     bIII   NaN         V6     NaN       V  NaN
             341         D     bIII   NaN          I     NaN       I  NaN
             342         D       iv   NaN        V65     NaN       V  NaN
             343         D       iv   NaN          i     NaN       i  NaN
n03op18-3_02 85         Bb        v   NaN    V65/III     NaN       V  NaN
             86         Bb        v   NaN        III     NaN     III  NaN
             87         Bb        v   NaN     V65/iv     NaN       V  NaN
             88         Bb        v   NaN         iv     NaN      iv  NaN

                 figbass changes relativeroot phraseend chord_type  \
fname
n01op18-1_01 167     NaN     NaN          NaN       NaN          m
             168       7     NaN          NaN       NaN         o7
             169       6     NaN          NaN       NaN          M
             170      65     NaN           ii       NaN        Mm7
             171      65     NaN          NaN       NaN         o7
             172       6     NaN          NaN       NaN          m
n02op18-2_03 59        6     NaN          NaN       NaN          M
             60        6     NaN          NaN       NaN          +
             61      NaN     NaN          NaN       NaN          M
             62       65     NaN            V       NaN        Mm7
             63      NaN      64          NaN       NaN          M
             64        7     NaN           vi       NaN         o7
             65      NaN     NaN          NaN       NaN          m
n03op18-3_01 252       6     NaN          NaN       NaN          M
             253      65     NaN            V       NaN         o7
             254       6     NaN          NaN       NaN          m
             255      65     NaN          NaN       NaN        Mm7
             256       6     NaN          NaN       NaN          m
             257       7     NaN           ii       NaN         o7
             258      65     NaN          NaN       NaN         o7
             338     NaN     NaN          NaN       NaN          M
             339       6     NaN          NaN       NaN          m
             340       6     NaN          NaN       NaN          M
             341     NaN     NaN          NaN       NaN          M
             342      65     NaN          NaN       NaN        Mm7
             343     NaN     NaN          NaN       NaN          m
n03op18-3_02 85       65     NaN          III       NaN        Mm7
             86      NaN     NaN          NaN       NaN          M
             87       65     NaN           iv       NaN        Mm7
             88      NaN     NaN          NaN       NaN          m

                  globalkey_is_minor  localkey_is_minor      chord_tones  \
fname
n01op18-1_01 167               False               True               ()
             168               False               True   (5, 2, -1, -4)
             169               False               True      (0, -3, -4)
             170               False               True     (7, 4, 1, 3)
             171               False               True   (2, -1, -4, 5)
             172               False               True       (-3, 1, 0)
n02op18-2_03 59                False              False        (4, 1, 0)
             60                False              False        (4, 8, 0)
             61                False              False       (-1, 3, 0)
             62                False              False     (6, 3, 0, 2)
             63                False              False        (1, 0, 4)
             64                False              False    (8, 5, 2, -1)
             65                False              False        (3, 0, 4)
n03op18-3_01 252               False              False       (3, 0, -1)
             253               False              False    (3, 0, -3, 6)
             254               False              False       (-2, 2, 1)
             255               False              False    (5, 2, -1, 1)
             256               False              False        (0, 4, 3)
             257               False              False    (7, 4, 1, -2)
             258               False              False   (2, -1, -4, 5)
             338               False              False        (0, 4, 1)
             339               False              False       (-2, 2, 1)
             340               False              False        (5, 2, 1)
             341               False              False        (0, 4, 1)
             342               False               True    (5, 2, -1, 1)
             343               False               True       (0, -3, 1)
n03op18-3_02 85                False               True  (2, -1, -4, -2)
             86                False               True      (-3, 1, -2)
             87                False               True    (4, 1, -2, 0)
             88                False               True      (-1, -4, 0)

                 added_tones  root  bass_note bass_name
fname
n01op18-1_01 167          ()  <NA>       <NA>      <NA>
             168          ()     5          5        F#
             169          ()    -4          0         G
             170          ()     3          7        G#
             171          ()     5          2         A
             172          ()     0         -3        Bb
n02op18-2_03 59           ()     0          4         B
             60           ()     0          4         B
             61           ()    -1         -1         C
             62           ()     2          6        C#
             63           ()     1          1         D
             64           ()     8          8        D#
             65           ()     3          3         E
n03op18-3_01 252          ()    -1          3         B
             253          ()     6          3         B
             254          ()     1         -2         C
             255          ()     1          5        C#
             256          ()     3          0         D
             257          ()     7          7        D#
             258          ()     5          2         E
             338          ()     0          0         D
             339          ()     1         -2        Eb
             340          ()     1          5         E
             341          ()     0          0         F
             342          ()     1          5        F#
             343          ()     0          0         G
n03op18-3_02 85           ()    -2          2         G
             86           ()    -3         -3        Ab
             87           ()     0          4         A
             88           ()    -1         -1        Bb